$color-green: rgb(21, 171, 13);
$color-white: rgb(255, 255, 255);
$color-blue:  rgb(38, 104, 255);

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: 'Consolas', 'Ubuntu Mono', 'Courier New', monospace;
}

#wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px dashed #fff;
    width: 90%;
    max-width: 512px;
    padding: 2rem;
    display: grid;
    grid-gap: 2rem;
}

.text {
    &-green {
        color: $color-green;
    }

    &-blue {
        color: $color-blue;
    }
}

h1, p, span, ul {
    margin: 0 0 1rem 0;

    &:last-child {
        margin-bottom: 0;
    }
}